#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
branch_income = df.groupby('Branch')['gross income'].sum()
branch_income.sort_values(ascending=False)[:1]

Branch
C    5265.1765
Name: gross income, dtype: float64

–§—ñ–ª—ñ–∞–ª "–°" –º–∞—î –Ω–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [68]:
cities_income = df.groupby(['Branch', 'City'])['gross income'].sum()
cities_income.sort_values(ascending=False)[:1]

Branch  City
C       Naypyitaw    5265.1765
Name: gross income, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [11]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [31]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values=['Invoice ID'], aggfunc='count')
invoices_by_category.columns = invoices_by_category.columns.droplevel(0)
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [37]:
print('–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ "Electronic accessories" —É —Ñ—ñ–ª—ñ—ó –º–∞–≥–∞–∑–∏–Ω—É:')
invoices_by_category['Electronic accessories'].idxmax()

–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ "Electronic accessories" —É —Ñ—ñ–ª—ñ—ó –º–∞–≥–∞–∑–∏–Ω—É:

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

In [38]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

## –ì—ñ–ø–æ—Ç–µ–∑–∞ 1:
### –ß–∏ –≤–ø–ª–∏–≤–∞—î —Å—Ç–∞—Ç—å –∫–ª—ñ—î–Ω—Ç–∞ –Ω–∞ –≤–∏–±—ñ—Ä –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —Ç–æ–≤–∞—Ä—ñ–≤ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫?

In [43]:
grouped_by_gender = pd.pivot_table(df, index='Product line', columns="Gender", values='Total', aggfunc=['mean', 'count'])
grouped_by_gender

                              mean              count
Gender                      Female        Male Female Male
Product line
Electronic accessories  322.643125  316.691965     84   86
Fashion accessories     317.056250  291.079207     96   82
Food and beverages      368.565750  273.499125     90   84
Health and beauty       290.015414  348.099460     64   88
Home and lifestyle      380.213639  294.136241     79   81
Sports and travel       324.712739  340.360327     88   78

–£ –∂—ñ–Ω–æ–∫ –Ω–∞–π–±—ñ–ª—å—à–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö "Home and lifestyle" —Ç–∞ "Food and beverages". –¶–µ –æ–∑–Ω–∞—á–∞—î, —â–æ –∂—ñ–Ω–∫–∏ –≥–æ—Ç–æ–≤—ñ –≤–∏—Ç—Ä–∞—á–∞—Ç–∏ –≥—Ä–æ—à—ñ –Ω–∞ —Ü—ñ —Ç–æ–≤–∞—Ä–∏ —ñ –≤–∞–∂–ª–∏–≤–∏–º –º–∞—î –±—É—Ç–∏ –¥–ª—è –±—ñ–∑–Ω–µ—Å—É –∑–∞–±–µ–∑–ø–µ—á–∏—Ç–∏ —Ä—ñ–∑–Ω–æ–º–∞–Ω–Ω—ñ—Ç—Ç—è –ø—Ä–æ–¥—É–∫—Ü—ñ—ó –≤ —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —Ç–æ–≤–∞—Ä—É (—Ä–æ–∑—à–∏—Ä—é–≤–∞—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç, –∞–∫—Ç–∏–≤–Ω–æ –ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ —Ç–∞ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ –Ω–æ–≤–∏–Ω–∫–∏). –£ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —á–µ–∫ –Ω–∞ –∞–Ω–∞–ª–æ–≥—ñ—á–Ω—ñ —Ç–æ–≤–∞—Ä–∏ –∑–Ω–∞—á–Ω–æ –Ω–∏–∂—á–∏–π, —Ç–æ–º—É –±—ñ–∑–Ω–µ—Å –º–æ–∂–µ –ø–æ–¥—É–º–∞—Ç–∏ –ø—Ä–æ —Ä—ñ–∑–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó —Ç–∞ –∞–∫—Ü—ñ—ó, —è–∫—ñ –∑–∞–ª—É—á–∞—Ç—å —á–æ–ª–æ–≤—ñ–∫—ñ–≤ –¥–æ –±—ñ–ª—å—à –∞–∫—Ç–∏–≤–Ω–∏—Ö –ø–æ–∫—É–ø–æ–∫.

–©–æ–¥–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –∑—Ä–æ–±–ª–µ–Ω–∏—Ö –ø–æ–∫—É–ø–æ–∫ - —É –∂—ñ–Ω–æ–∫ –ø–µ—Ä–µ–≤–∞–∂–∞—î –∫–∞—Ç–µ–≥–æ—Ä—ñ—è "Fashion accessories", —Ç–æ–º—É —Ç—É—Ç –±—ñ–∑–Ω–µ—Å—É –≤–∞–∂–ª–∏–≤–æ –ø—ñ–¥—Ç—Ä–∏–º—É–≤–∞—Ç–∏ –¥–æ—Å—Ç—É–ø–Ω—ñ—Å—Ç—å –ø–æ–ø—É–ª—è—Ä–Ω–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤.

–ó —ñ–Ω—à–æ–≥–æ –±–æ–∫—É, –∂—ñ–Ω–∫–∏ –Ω–∞–±–∞–≥–∞—Ç–æ –º–µ–Ω—à–µ (–Ω—ñ–∂ —á–æ–ª–æ–≤—ñ–∫–∏) –∫—É–ø—É—é—Ç—å —Ç–æ–≤–∞—Ä–∏ "Health and beauty", —Ç–æ–¥—ñ —è–∫ —É —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —Ü—è –∫–∞—Ç–µ–≥–æ—Ä—ñ—è –ø–µ—Ä–µ–≤–∞–∂–∞—î —ñ –ø–æ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É —á–µ–∫—É —ñ –ø–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫. –í—ñ–¥–ø–æ–≤—ñ–¥–Ω–æ –±—ñ–∑–Ω–µ—Å –º–∞—î –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏—Å—å –Ω–∞ —Ç–æ–º—É, –∞–±–∏ –ø—Ä–∏–≤–µ—Ä–Ω—É—Ç–∏ —É–≤–∞–≥—É –∂—ñ–Ω–æ–∫ –¥–æ —Ç–æ–≤–∞—Ä—ñ–≤ —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, —á–µ—Ä–µ–∑ –∞–∫—Ü—ñ—ó –ø–æ–≤'—è–∑–∞–Ω—ñ –∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∑ —ñ–Ω—à–∏—Ö, –±—ñ–ª—å—à –ø–æ–ø—É–ª—è—Ä–Ω–∏—Ö, —Ç–æ–≤–∞—Ä–Ω–∏—Ö –≥—Ä—É–ø)

## –ì—ñ–ø–æ—Ç–µ–∑–∞ 2:
### –ß–∏ –∑–∞–ª–µ–∂–∞—Ç—å —Å–µ—Ä–µ–¥–Ω—ñ –ø—Ä–æ–¥–∞–∂—ñ –≤ –∫–æ–∂–Ω–æ–º—É –º—ñ—Å—Ç—ñ –≤—ñ–¥ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ä—ñ–∑–Ω–æ–≥–æ —Ç–∏–ø—É —á–ª–µ–Ω—Å—Ç–≤–∞?

In [63]:
grouped_by_type = df.groupby(by=['City', 'Customer type']).agg({'Total': 'mean', 'Customer type': 'count'})
grouped_by_type = grouped_by_type.rename(columns={'Total': 'Average sales', 'Customer type': 'Client quantity'})
grouped_by_type

                         Average sales  Client quantity
City      Customer type
Mandalay  Member            325.482945              165
          Normal            314.329257              167
Naypyitaw Member            336.575636              169
          Normal            337.656755              159
Yangon    Member            321.182488              167
          Normal            303.831763              173

–£ –º—ñ—Å—Ç–∞—Ö —ñ–∑ –º–µ–Ω—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ç–∏–ø—É Member (Mandalay & Yangon) –≤–∞—Ä—Ç–æ –∞–∫—Ç–∏–≤–Ω—ñ—à–µ –∑–∞–ª—É—á–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –¥–æ –ø—Ä–æ–≥—Ä–∞–º –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ —á–∞—Å—Ç–∫—É –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤, –æ—Å–∫—ñ–ª—å–∫–∏ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –¥–ª—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ç–∏–ø—É Member –≤ —Ü–∏—Ö –º—ñ—Å—Ç–∞—Ö –≤–∏—â–∏–π.
–î–ª—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ç–∏–ø—É Normal, —Å–ª—ñ–¥ –≤–ø—Ä–æ–≤–∞–¥–∂—É–≤–∞—Ç–∏ –∞–∫—Ü—ñ—ó –∞–±–æ –±–æ–Ω—É—Å–∏, —â–æ–± —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ —ó—Ö –¥–æ –ø–æ–≤—Ç–æ—Ä–Ω–∏—Ö –ø–æ–∫—É–ø–æ–∫.

–î–ª—è –º—ñ—Å—Ç–∞ Naypytaw –≤–∏—â–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ç–∏–ø—É Member –Ω—ñ—è–∫–∏–º —á–∏–Ω–æ–º –Ω–µ –≤–ø–ª–∏–≤–∞—î –Ω–∞ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É, —Ç–æ–º—É –¥–ª—è —Ü—å–æ–≥–æ –º—ñ—Å—Ç–∞ –º–æ–∂–ª–∏–≤–æ —î —Å–µ–Ω—Å –∑–º–µ–Ω—à–∏—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –≤–∏—Ç—Ä–∞—Ç–∏ –Ω–∞ —Ä–æ–∑—Ä–æ–±–∫—É —Ä—ñ–∑–Ω–∏—Ö –ø—Ä–æ–≥—Ä–∞–º –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, –∞ –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏—Å—å –Ω–∞ –ø—Ä–æ–¥–∞–∂–∞—Ö –Ω–µ –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ —Ç–∏–ø—É –∫–ª—ñ—î–Ω—Ç–∞.

## –ì—ñ–ø–æ—Ç–µ–∑–∞ 3:
### –ß–∏ –∑–∞–ª–µ–∂–∞—Ç—å –ø—Ä–æ–¥–∞–∂—ñ –≤ —Ä—ñ–∑–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —Ç–æ–≤–∞—Ä—ñ–≤ –≤—ñ–¥ —Ç–∏–ø—É –ø–ª–∞—Ç—ñ–∂–Ω–æ–≥–æ –º–µ—Ç–æ–¥—É?

In [64]:
grouped_by_payment = pd.pivot_table(df, index='Product line', columns='Payment', values='Invoice ID', aggfunc='count')
grouped_by_payment

Payment                 Cash  Credit card  Ewallet
Product line
Electronic accessories    71           46       53
Fashion accessories       57           56       65
Food and beverages        57           61       56
Health and beauty         49           50       53
Home and lifestyle        51           45       64
Sports and travel         59           53       54

–ú–µ–≥–∞ —Å—É—Ç—Ç—î–≤–æ—ó –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø—Ä–æ–¥–∞–∂—ñ–≤ –≤—ñ–¥ –ø–ª–∞—Ç—ñ–∂–Ω–æ–≥–æ –º–µ—Ç–æ–¥—É –Ω–µ –≤–∏—è–≤–ª–µ–Ω–æ. –Ñ–¥–∏–Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è, —è–∫–∞ —Å–∏–ª—å–Ω—ñ—à–µ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è –≤—ñ–¥ —ñ–Ω—à–∏—Ö - —Ü–µ Electronic accessories, –¥–µ –ø–µ—Ä–µ–≤–∞–∂–∞—î –≥–æ—Ç—ñ–≤–∫–æ–≤–∏–π –º–µ—Ç–æ–¥ –æ–ø–ª–∞—Ç–∏. –î–ª—è —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –≤–∞—Ä—Ç–æ –∑–∞–æ—Ö–æ—á—É–≤–∞—Ç–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ —Ü–∏—Ñ—Ä–æ–≤—ñ –ø–ª–∞—Ç—ñ–∂–Ω—ñ –º–µ—Ç–æ–¥–∏ —á–µ—Ä–µ–∑ –±–æ–Ω—É—Å–∏ –∞–±–æ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó.