#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [2]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [4]:
branch_income = df.groupby('Branch')['gross income'].sum()
branch_income.sort_values(ascending=False)[:1]

Branch
C    5265.1765
Name: gross income, dtype: float64

Філіал "С" має найвищий прибуток.

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [68]:
cities_income = df.groupby(['Branch', 'City'])['gross income'].sum()
cities_income.sort_values(ascending=False)[:1]

Branch  City
C       Naypyitaw    5265.1765
Name: gross income, dtype: float64

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [11]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [31]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values=['Invoice ID'], aggfunc='count')
invoices_by_category.columns = invoices_by_category.columns.droplevel(0)
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [37]:
print('Найбільше інвойсів у категорії товарів "Electronic accessories" у філії магазину:')
invoices_by_category['Electronic accessories'].idxmax()

Найбільше інвойсів у категорії товарів "Electronic accessories" у філії магазину:

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

In [38]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

## Гіпотеза 1:
### Чи впливає стать клієнта на вибір категорій товарів та середній чек?

In [43]:
grouped_by_gender = pd.pivot_table(df, index='Product line', columns="Gender", values='Total', aggfunc=['mean', 'count'])
grouped_by_gender

                              mean              count
Gender                      Female        Male Female Male
Product line
Electronic accessories  322.643125  316.691965     84   86
Fashion accessories     317.056250  291.079207     96   82
Food and beverages      368.565750  273.499125     90   84
Health and beauty       290.015414  348.099460     64   88
Home and lifestyle      380.213639  294.136241     79   81
Sports and travel       324.712739  340.360327     88   78

У жінок найбільший середній чек в категоріях "Home and lifestyle" та "Food and beverages". Це означає, що жінки готові витрачати гроші на ці товари і важливим має бути для бізнесу забезпечити різноманніття продукції в цих категоріях товару (розширювати асортимент, активно пропонувати та просувати новинки). У чоловіків чек на аналогічні товари значно нижчий, тому бізнес може подумати про різні пропозиції та акції, які залучать чоловіків до більш активних покупок.

Щодо кількості зроблених покупок - у жінок переважає категорія "Fashion accessories", тому тут бізнесу важливо підтримувати доступність популярних товарів.

З іншого боку, жінки набагато менше (ніж чоловіки) купують товари "Health and beauty", тоді як у чоловіків ця категорія переважає і по середньому чеку і по кількості покупок. Відповідно бізнес має зосередитись на тому, аби привернути увагу жінок до товарів цієї категорії (наприклад, через акції пов'язані з покупкою товарів з інших, більш популярних, товарних груп)

## Гіпотеза 2:
### Чи залежать середні продажі в кожному місті від кількості клієнтів різного типу членства?

In [63]:
grouped_by_type = df.groupby(by=['City', 'Customer type']).agg({'Total': 'mean', 'Customer type': 'count'})
grouped_by_type = grouped_by_type.rename(columns={'Total': 'Average sales', 'Customer type': 'Client quantity'})
grouped_by_type

                         Average sales  Client quantity
City      Customer type
Mandalay  Member            325.482945              165
          Normal            314.329257              167
Naypyitaw Member            336.575636              169
          Normal            337.656755              159
Yangon    Member            321.182488              167
          Normal            303.831763              173

У містах із меншою кількістю клієнтів типу Member (Mandalay & Yangon) варто активніше залучати клієнтів до програм лояльності, щоб збільшити частку постійних клієнтів, оскільки середній чек для клієнтів типу Member в цих містах вищий.
Для клієнтів типу Normal, слід впроваджувати акції або бонуси, щоб стимулювати їх до повторних покупок.

Для міста Naypytaw вища кількість клієнтів типу Member ніяким чином не впливає на збільшення середнього чеку, тому для цього міста можливо є сенс зменшити маркетингові витрати на розробку різних програм лояльності, а зосередитись на продажах не залежно від типу клієнта.

## Гіпотеза 3:
### Чи залежать продажі в різних категоріях товарів від типу платіжного методу?

In [64]:
grouped_by_payment = pd.pivot_table(df, index='Product line', columns='Payment', values='Invoice ID', aggfunc='count')
grouped_by_payment

Payment                 Cash  Credit card  Ewallet
Product line
Electronic accessories    71           46       53
Fashion accessories       57           56       65
Food and beverages        57           61       56
Health and beauty         49           50       53
Home and lifestyle        51           45       64
Sports and travel         59           53       54

Мега суттєвої залежності кількості продажів від платіжного методу не виявлено. Єдина категорія, яка сильніше відрізняється від інших - це Electronic accessories, де переважає готівковий метод оплати. Для цієї категорії варто заохочувати клієнтів використовувати цифрові платіжні методи через бонуси або спеціальні пропозиції.