## Завдання 1  

### 1. Група "травень"  

i = 24  
s1 = 100  
price = 10  
q = 1 - r = 0.95  

R_may = 100 * 10 * (1-0.95**24)/0.05 = 14160  

### 2. Група "червень"  

i = 23  
s1 = 150  
price = 10  
q = 1 - r = 0.95  

R_june = 150 * 10 * (1-0.95**23)/0.05 = 20779  

### 3. Група "липень"  

i = 22  
s1 = 170  
price = 10  
q = 1 - r = 0.95  

R_july = 170 * 10 * (1-0.95**22)/0.05 = 23000  

### ВСЬОГО

R_tot = R_may + R_june + R_july = 57939

## Завдання 2

net_growth_rate = 1 + 0.03 - 0.02 = 1.01  
i = 23  
s0 = 2000  

### Кількість користувачів за період
S(23) = 2000 * (1.01**23) = 2514

## Завдання 3

s1 (january) = 500    
s2 (february) = 500 * 1.5 = 750  
s3 (march) = 750 * 1.2 = 900  
s4 (april) = 900 * 1.1 = 990  
s5 (may) = 990 * 1.1 = 1089
s6 (june) = 1089 * 1.1 = 1197

Total active users = 500 + 750 + 900 + 990 + 1089 + 1197 = 5426